<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>


  <!--External DB-->
  <connectionStrings>
    <add name="ShopFIConnection"
         connectionString="Server=07c8a714-43d5-4748-a0e4-a78b016e1e09.sqlserver.sequelizer.com;
         Initial Catalog = db07c8a71443d54748a0e4a78b016e1e09;
         User ID = yzsllqtejwgjydns;
         Password = DnwY8HpuknQcLB3UMPyDgUrQjEAsuypWu3UmJZjxNvqo6SE4aCQrScKR5PPBh5aT;
         MultipleActiveResultSets=true"
      providerName="System.Data.SqlClient" />
  </connectionStrings>


  <!--Local DB-->
  <!--<connectionStrings>
    <add name="ShopFILocalConnection" 
         connectionString="Data Source=.;
         Initial Catalog=ShopFI-LocalConnection;
         Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  
 
  
</configuration>