<style>
    body {
        font-family: Algerian;
       
    }
    .jumbotron {
        background-image: url('../image/background.png');
        background-repeat: no-repeat;
        background-size: cover;
        width:100%;
        padding-bottom:20em;
        margin-top:4px;
    }
    .lead {
        color: #357ebd;
    }

</style>

@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1 style="font-family:Algerian" >Shop for Items !</h1>
    <p class="lead">This is a website for selling your items.</p>
    @Html.ActionLink("Show all ADS", "Index", "Items", new { area = "" }, new { @class = "btn btn-primary btn-lg" })
</div>
